Client/Airport_Client/Airport_Client/Connected Services/AirportService/Aeroporto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Aeroporto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Aeroporto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Utente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Credito" type="xs:double" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nascita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passaporto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Utente" nillable="true" type="tns:Utente" />
  <xs:complexType name="Biglietti">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buyer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Classe" type="xs:int" />
      <xs:element minOccurs="0" name="CodVolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passaporto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezzo" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Biglietti" nillable="true" type="tns:Biglietti" />
  <xs:complexType name="ArrayOfBiglietti">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Biglietti" nillable="true" type="tns:Biglietti" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBiglietti" nillable="true" type="tns:ArrayOfBiglietti" />
  <xs:complexType name="Aeroporti">
    <xs:sequence>
      <xs:element minOccurs="0" name="Citta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stato" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aeroporti" nillable="true" type="tns:Aeroporti" />
  <xs:complexType name="Voli">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_volo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezzo" type="xs:double" />
      <xs:element minOccurs="0" name="Tratta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Voli" nillable="true" type="tns:Voli" />
  <xs:complexType name="Tratte">
    <xs:sequence>
      <xs:element minOccurs="0" name="Destinazione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" type="xs:float" />
      <xs:element minOccurs="0" name="Id_tratta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Partenza" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tratte" nillable="true" type="tns:Tratte" />
  <xs:complexType name="Lavora">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Passaporto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lavora" nillable="true" type="tns:Lavora" />
  <xs:complexType name="ArrayOfLavora">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lavora" nillable="true" type="tns:Lavora" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLavora" nillable="true" type="tns:ArrayOfLavora" />
  <xs:complexType name="ArrayOfVoli">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Voli" nillable="true" type="tns:Voli" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVoli" nillable="true" type="tns:ArrayOfVoli" />
  <xs:complexType name="ArrayOfTratte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tratte" nillable="true" type="tns:Tratte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTratte" nillable="true" type="tns:ArrayOfTratte" />
  <xs:complexType name="ArrayOfAeroporti">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aeroporti" nillable="true" type="tns:Aeroporti" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAeroporti" nillable="true" type="tns:ArrayOfAeroporti" />
  <xs:complexType name="ArrayOfUtente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Utente" nillable="true" type="tns:Utente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUtente" nillable="true" type="tns:ArrayOfUtente" />
</xs:schema>