Client/Airport_Client/Airport_Client/Connected Services/AirportService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Aeroporto" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="LoginResult" nillable="true" type="q1:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCrew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCrewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="LoginCrewResult" nillable="true" type="q2:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="ut" nillable="true" type="q3:Utente" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="bi" nillable="true" type="q4:Biglietti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ricarica">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="ut" nillable="true" type="q5:Utente" />
        <xs:element minOccurs="0" name="credito" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicaricaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RicaricaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBiglietti">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="ut" nillable="true" type="q6:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBigliettiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="CheckBigliettiResult" nillable="true" type="q7:ArrayOfBiglietti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAeroporti">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="aer" nillable="true" type="q8:Aeroporti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAeroportiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAeroportiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="vo" nillable="true" type="q9:Voli" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVoloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTratta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="tra" nillable="true" type="q10:Tratte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrattaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTrattaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLavoro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="la" nillable="true" type="q11:Lavora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLavoroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLavoroResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRuolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="ut" nillable="true" type="q12:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRuoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="CheckRuoloResult" nillable="true" type="q13:ArrayOfLavora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBigliettiFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="ut" nillable="true" type="q14:Utente" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="forward" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBigliettiFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="CheckBigliettiFilterResult" nillable="true" type="q15:ArrayOfBiglietti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ricerca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="a1" nillable="true" type="q16:Aeroporti" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="a2" nillable="true" type="q17:Aeroporti" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="RicercaResult" nillable="true" type="q18:ArrayOfVoli" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BestPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="a1" nillable="true" type="q19:Aeroporti" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="a2" nillable="true" type="q20:Aeroporti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BestPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="BestPriceResult" nillable="true" type="q21:ArrayOfVoli" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Misentofortutato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="a1" nillable="true" type="q22:Aeroporti" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MisentofortutatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="MisentofortutatoResult" nillable="true" type="q23:ArrayOfVoli" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MisentofortutatoNoData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="a1" nillable="true" type="q24:Aeroporti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MisentofortutatoNoDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="MisentofortutatoNoDataResult" nillable="true" type="q25:ArrayOfVoli" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLavoro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="ut" nillable="true" type="q26:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLavoroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="CheckLavoroResult" nillable="true" type="q27:ArrayOfLavora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTratte">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTratteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="GetTratteResult" nillable="true" type="q28:ArrayOfTratte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="GetAirportsResult" nillable="true" type="q29:ArrayOfAeroporti" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserfromPP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserfromPPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="UserfromPPResult" nillable="true" type="q30:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="ut" nillable="true" type="q31:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrewMember">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrewMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="GetCrewMemberResult" nillable="true" type="q32:ArrayOfUtente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="GetUsersResult" nillable="true" type="q33:ArrayOfUtente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="GetJobsResult" nillable="true" type="q34:ArrayOfLavora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoli">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Aeroporto" minOccurs="0" name="GetVoliResult" nillable="true" type="q35:ArrayOfVoli" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAirport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAirportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveAirportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovePathResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveFlightResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="volo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveJobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>